.loginContainer{
    font-family: "Times new roman";
    height: auto;
    width: 400px;
    border-radius: 38px;
    background-color: white;
    margin-left: 942px;
    border-style: outset;
    border-width: 8px;
    padding: 40px;
    margin-bottom: 99px;
    position: relative;
    margin-top: 100px;
    top:67px;
}
.loginHeading{
    color: #b3003b;
    text-align: center;
}
.userLabel,.passLabel{
    font-size: 15px;
    padding-top: 10px;
}
.submitButton{
    background-color: #b30059;
    color: #fff;
    border-color: #b30059;
    padding: 8px;
    font-size: 15px;
    margin-top: 16px;
}
.submitButton:hover{
    background-color: #99004d;
}
.inputArea{
    font-size: 15px;
}